/*///////INDEX///////*/
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  color: antiquewhite;
  background-color: black; }

a, li {
  text-decoration: none; }

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 11rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid antiquewhite; }
  .header h1 {
    text-align: center;
    font-size: 4rem;
    margin-left: 4rem; }
  .header i {
    font-size: 2rem;
    margin-right: 4rem;
    cursor: pointer; }

/*MENU*/
.menu_container {
  margin: 0 2rem; }
  .menu_container .menu-comidas_container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu_container .menu-comidas_container .comidas {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0; }
      .menu_container .menu-comidas_container .comidas .comidas-img {
        width: 20rem;
        height: 20rem; }
        .menu_container .menu-comidas_container .comidas .comidas-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .menu_container .menu-comidas_container .comidas .comida-detalle {
        text-align: center; }
        .menu_container .menu-comidas_container .comidas .comida-detalle p {
          font-size: 1.4rem;
          font-weight: bold;
          margin: .5rem 0; }
      .menu_container .menu-comidas_container .comidas .comida-cantidad {
        display: flex;
        align-items: center;
        justify-content: center; }
        .menu_container .menu-comidas_container .comidas .comida-cantidad input {
          width: 10%;
          text-align: center;
          font-size: 2rem;
          font-weight: 900;
          color: antiquewhite;
          background-color: transparent;
          border: none; }
        .menu_container .menu-comidas_container .comidas .comida-cantidad .agregar-btn {
          display: block;
          background-color: #10ad10;
          border: none;
          font-size: 1.4rem;
          font-weight: bold;
          padding: .5rem; }

/*PEDIDO*/
.pedido_container {
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  display: none;
  flex-direction: column;
  background-color: antiquewhite; }
  .pedido_container .pedido-item_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: transparent; }
    .pedido_container .pedido-item_container .item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
      background-color: transparent; }
      .pedido_container .pedido-item_container .item .item-img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem; }
        .pedido_container .pedido-item_container .item .item-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .pedido_container .pedido-item_container .item .item-detalle {
        background-color: transparent; }
        .pedido_container .pedido-item_container .item .item-detalle p {
          font-size: 1.4rem;
          font-weight: bold;
          color: black;
          background-color: transparent; }
        .pedido_container .pedido-item_container .item .item-detalle .eliminar-btn {
          background-color: red;
          border: none;
          font-size: 1.4rem;
          font-weight: bold;
          margin-top: 1rem;
          padding: .5rem; }
      .pedido_container .pedido-item_container .item .item-cantidad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        width: 3rem;
        background-color: transparent; }
        .pedido_container .pedido-item_container .item .item-cantidad .item-cantidad_cantidad {
          width: 2rem;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 900;
          color: black;
          background-color: transparent;
          border: none; }
  .pedido_container .pedido-total_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent; }
    .pedido_container .pedido-total_container p {
      font-size: 2rem;
      font-weight: bold;
      margin: 0 1rem;
      color: black;
      background-color: transparent; }
  .pedido_container label {
    background-color: transparent;
    cursor: pointer; }
    .pedido_container label i {
      font-size: 3rem;
      background-color: transparent;
      color: black;
      margin: 1rem 1rem; }
