/*///////INDEX///////*/
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: antiquewhite;
  background-color: black; }

a, li {
  text-decoration: none; }

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 11rem;
  border-bottom: 2px solid antiquewhite; }
  .header h1 {
    text-align: center;
    font-size: 4rem;
    margin-left: 4rem; }
  .header i {
    font-size: 2rem;
    margin-right: 4rem;
    cursor: pointer; }

/*GRID INDEX*/
.main {
  display: grid;
  grid-template-columns: 80% auto;
  margin: 2rem 2rem; }

/*MENU*/
.menu-item_container {
  margin-bottom: 3rem; }
  .menu-item_container .item-titulo {
    margin-bottom: 1rem;
    font-size: 2rem; }
  .menu-item_container .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid antiquewhite; }
    .menu-item_container .item .item-detalle {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .menu-item_container .item .item-detalle .detalle-precio {
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 1.5rem; }
      .menu-item_container .item .item-detalle .detalle-descripcion {
        opacity: .6;
        line-height: 1.5rem; }
    .menu-item_container .item .agregar-btn {
      margin: .5rem 0;
      padding: .3rem;
      width: 6rem;
      border: none;
      color: black;
      font-weight: 700;
      background-color: antiquewhite;
      border-radius: .5rem;
      cursor: pointer; }
  .menu-item_container .item-nombre {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 700; }

/*PEDIDO*/
.pedido_container {
  display: flex;
  flex-direction: column; }
  .pedido_container .item {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    .pedido_container .item .item_detalle {
      width: 70%; }
    .pedido_container .item .item-nombre {
      font-weight: bold;
      line-height: 1.5rem; }
    .pedido_container .item .item-precio {
      margin: .2rem 0; }
    .pedido_container .item .eliminar-btn {
      margin-bottom: .3rem;
      border: none;
      opacity: .6;
      cursor: pointer; }
    .pedido_container .item .eliminar-btn:hover {
      text-decoration: underline; }
    .pedido_container .item .item-cantidad {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
  .pedido_container .total_container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .pedido_container .total_container p {
      font-size: 1.6rem;
      font-weight: 700; }
